<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="excludedMediaFiles" value=".jpg|.jpeg|.bmp|.png|.mp3|.mp4"/>
    <!-- <add key="excludedMediaFiles" value=".jpg|.jpeg|.bmp|.png|.mp3|.mp4"/>-->
    <add key="excludedOtherFiles" value=".xml|.txt"/>
    <!-- 0 == unlimited -->
    <add key="maxEntries" value="1000"/>
    <add key="crawlOnlyMyDomain" value="true"/>
    <add key="rootDomain" value="http://www.mydomain.com" />
    <add key="siteMapOutputFolder" value="" />
    <add key="GenerateSiteMap" value="true" />
    <add key="linksOutputFolder" value=""/>
    <add key="generateLinksTxtFile" value="true"/>

    <!-- if no value : monthly by defaut -->
    <add key="changeFrequence" value="monthly"/>
    <!-- if no value : 1 by default -->
    <add key="priority" value="1"/>
    <!-- if no value : today by default -->
    <add key="lastModification" value=""/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>